{% assign maxRelated = 5 %}

{% assign minCommonTags =  3 %}

{% assign maxRelatedCounter = 0 %}

{% for pg in site.pages %}

{% assign sameTagCount = 0 %}
{% assign commonTags = '' %}

{% for tag in pg.tags %}

{% if pg.url != page.url %}
{% if page.tags contains tag %}
{% assign sameTagCount = sameTagCount | plus: 1 %}
{% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
{% assign commonTags = commonTags | append: tagmarkup %}
{% endif %}
{% endif %}
{% endfor %}


<div class="related-post">
    <div class="related-post-cover" style="background-image: url('{{ pg.cover }}')">
        <a href="{{ pg.url }}" class="cover-link"></a>
    </div>
    <div>
        <h4><a href="{{ site.baseurl }}{{ pg.url }}">{{ pg.title }}{{ commonTags }}</a></h4>
    </div>
</div>

{% endfor %}
