---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 single-content">

                <p class="mb-5">
                    <img src="{{ page.cover }}" alt="Image" class="img-fluid">
                </p>
                <h1 class="mb-4">
                    {{ page.title | escape }}
                </h1>
                <div class="post-meta d-flex mb-5">
                    <div class="bio-pic mr-3">
                        <img src="{{ page.cover }}" alt="Image" class="img-fluidid">
                    </div>
                    <div class="vcard">
                        <span class="d-block" itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="#" itemprop="name">{{page.author | escape}}</a> in <a href="#">{{page.category}}</a></span>
                        <span class="date-read">{{ page.date | date: date_format }} <span class="icon-star2"></span></span>
                    </div>
                </div>

                <div class="post-content e-content" itemprop="articleBody">
                    {{ content }}
                </div>

                <div class="pt-5">
                    <p>Categories:  {{page.category}}  Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
                </div>

                {%- if site.disqus.shortname -%}
                {%- include disqus_comments.html -%}
                {%- endif -%}

                <div class="pt-5">
                    <div class="section-title">
                        <h2 class="mb-5">Comments</h2>
                    </div>
                    <ul class="comment-list">
                        {% for comment in page.comments %}
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>{{ comment.author }}</h3>
                                <div class="meta">{{ comment.date| date: date_format}}</div>
                                <p>{{comment.body}}</p>

                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- END comment-list -->
                </div>

                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

                <related-posts></related-posts>

                {% include related.html %}
            </div>


            <div class="col-lg-3 ml-auto">
                <div class="section-title">
                    <h2>Popular Posts</h2>
                </div>
                {% assign counter = 1 %}
                {% for page in site.pages %}
                    <div class="trend-entry d-flex">
                        <div class="number align-self-start">{{counter}}</div>
                        <div class="trend-contents">
                            <h2><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></h2>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">{{ page.author | escape }}</a> in <a href="#">{{ page.category | escape }}</a></span>
                                <span class="date-read">{{ page.date | date: date_format }}<span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>

                {% assign counter=counter | plus:1 %}
                {% endfor %}

            </div>


        </div>

    </div>
</div>

<div class="site-section subscribe bg-light">
    <div class="container">
        <form action="#" class="row align-items-center">
            <div class="col-md-5 mr-auto">
                <h2>Newsletter Subcribe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!</p>
            </div>
            <div class="col-md-6 ml-auto">
                <div class="d-flex">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <button type="submit" class="btn btn-secondary" ><span class="icon-paper-plane"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>



  <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://netlyt.us20.list-manage.com/subscribe/post?u=f0606966275da537a0b8e70f0&amp;id=04285cb804" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe for future content</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f0606966275da537a0b8e70f0_04285cb804" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->


</article>
